@model IEnumerable<ReelWorld.DataAccessLibrary.Model.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>De seneste 10 events</h1>

<p>
    <a asp-action="Create">Opret nyt event</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Limit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limit)
            </td>
            <td>
                    @* <a asp-action="Edit" asp-route-id="@item.EventId" class="btn btn-sm btn-primary" title="Rediger">
                        <i class="bi bi-pencil"></i>
                    </a> *@
                    <a asp-action="Details" asp-controller="Event" asp-route-id="@item.EventId" class="btn btn-sm btn-info" title="Detaljer">
                        <i class="bi bi-info-circle"></i>
                    </a>
                    @* <a asp-action="Delete" asp-route-id="@item.EventId" class="btn btn-sm btn-danger" title="Slet">
                        <i class="bi bi-trash"></i>
                    </a> *@
            </td>
        </tr>
}
    </tbody>
</table>
