@using System.Security.Claims
@model ReelWorld.DataAccessLibrary.Model.Event

@{
    ViewData["Title"] = "Information om Event";
    var currentProfileId = User.FindFirstValue(System.Security.Claims.ClaimTypes.NameIdentifier);
}

<h1>Detaljer om eventet</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>
        <dd class="col-sm-10">
            @(Model.IsPublic ? "Offentlig" : "Privat")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Limit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Limit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AttendeeCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AttendeeCount)
        </dd>
        <dt class = "col-sm-2">
            Pladser tilbage
        </dt>
        <dd class = "col-sm-10">
            @(Model.Limit - Model.AttendeeCount)
        </dd>
    </dl>
</div>
<div class="mt-3 d-flex gap-2 align-items-stretch">
    @if (
        User.Identity != null &&
        User.Identity.IsAuthenticated &&
        Model.FK_Profile_Id.ToString() == currentProfileId)
    {
        <a asp-action="Edit" asp-controller="Event" asp-route-id="@Model.EventId" class="btn btn-sm btn-primary d-flex align-items-center justify-content-center" title="Rediger">
            <i class="bi bi-pencil me-1"></i> Rediger
        </a>
    }
    @if (User.Identity?.IsAuthenticated == true)
    {
        <a asp-action="Create" asp-controller="Registration" asp-route-id="@Model.EventId" class="btn btn-sm btn-success d-flex align-items-center justify-content-center" title="Deltag">
            <i class="bi bi-check-lg me-1"></i> Deltag
        </a>
    }

    <a asp-action="Index" asp-controller="Home" class="ms-2">Tilbage til forsiden</a>
</div>
