@model ReelWorld.DataAccessLibrary.Model.Event

@{
    ViewData["Title"] = "Information om Event";
}

<h1>Detaljer om eventet</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>
        <dd class="col-sm-10">
            @(Model.IsPublic ? "Offentlig" : "Privat")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Limit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Limit)
        </dd>
    </dl>
</div>
<div>
@*     Skal ændres senere i forhold til når man er logget ind, så man kan se edit knappe som den rigtige bruger
 *@    @* <a asp-action="Edit" asp-route-id="@Model.EventId" class="btn btn-sm btn-primary" title="Rediger">
                        <i class="bi bi-pencil"></i>
                    </a> *@
</div>
<div>
    <form method="get"
          asp-controller="Registration"
          asp-action="Create"
          asp-route-Id="@Model.EventId"
          style="display:inline;">
        <button type="submit" class="btn btn-sm btn-success" title="Deltag">
            <i class="bi bi-check-lg"></i> Deltag
        </button>
    </form>

    <a asp-action="Index" asp-controller="Home" class="ms-2">Tilbage til forsiden</a>
</div>
